body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #dfdfdf
}

div.output.window {
  font-family: Arial;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

container {
  display: flex;
  flex-direction: row;
  padding: 4vmin;
}

.input {
  width: 50%;
  margin: auto;
  height: 70vh;
  margin-right: 2vmin;
}

.output {
  width: 50%;
  margin: auto;
  margin-left: 2vmin;
  height: 70vh;
}

#editor {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  resize: none;
}

.result {
  text-align: left;
  overflow: auto;
  height: 67.5vh
}

.result img {
  width: 20%;
}

#thin {
  font-weight: 100;
}

#welcome {
  margin-bottom: -12px;
  padding-bottom: 0;
  margin-left: -200px;
  font-weight: 100
}

#title {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
}

.title-bar {
  height: 2vmin;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4vmin;
  background-color: #c3c3c3;
  color: white;
  text-align: left;
  z-index: 0;
}

#more {
  margin: 1vmin;
}

.inputText {
  height: 67.5vh;
  width: 100%;
}

.menu {
  color: black;
  position: fixed;
  left: 0;
  bottom: 4vmin;
  z-index: 1;
  height: 60vh;
  width: 30vmin;
}

.menu * {
  font-size: 1.5em;
}
