body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

container {
  display: flex;
  flex-direction: row;
}

.input {
  width: 50%;
  margin: auto;
  height: 100vh;
}

#editor {
  width: 100%;
  height: 100vh;
  resize: none;
}

.output {
  width: 50%;
  margin: auto;
  border: 1px solid black;
  height: 100vh;
}

.output {
  font-size: 20px;
}
